$bp-md: 600px;
$bp-lg: 800px;

.homepagee {
    width: 80%;
    margin: 0 10%;
    text-align: center;
}
input {
    width: 100%;
}

.whole-section {
    margin-top: 2vh;
    position: relative;
    width: 100%;
    height: 70vh;
    transition: all 2s;
}
.section {
    width: 100%;
    height: auto;

    background-color: rgb(22, 177, 138);
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    &.active {
        display: block;
        animation: come 1s ease-in-out;
    }
    .rightDir {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .leftDir {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &.provinsi {
    }
    &.kota {
    }
    &.wisata {
    }
}

.picture-list {
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
    img {
        width: 100%;
        &:hover {
            transform: translateY(-2rem);
        }
        cursor: pointer;
    }
}

.picture-list {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
    width: 100%;
    margin: 0 auto;
    font-family: var(--font-sans);

    @media (min-width: $bp-md) {
        display: grid;
    grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $bp-lg) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: 35vh;
    justify-content: center;
    transform: translateY(0);
    overflow: hidden;

    .content {
        transform: translateY(100%);
        opacity: 0;

    }
    .card-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      
    }

    &:hover .content {
        opacity: 1;

        transition: all 0.4s ease-in-out ;
        // transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        height: 100%;                  
        background-color: rgba(0,0,0,.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &:hover .card-image {
        transform: scale(1.2);
        transition: all 0.4s ease-in-out;
        opacity: .8;                
             
    }
}
