@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


.container {
    margin: 0;
    width: 100%;
    min-height: 80vh;
    font-family: 'Lato', sans-serif;    
}

.slashed {
    width: 80%;
    margin: 0 10%;
    padding-top: 1px;
    .hed {
        margin-top: 5vh;
        font-size: 2rem;
        color: darkgreen;
        text-align: center;
    }
    .hedd {
        margin: 5vh 0;
        font-size: 1.6rem;
        color: darkgreen;   
        text-align: center;
    }
}

.containerr {
    min-height: 95vh;
    padding-top: 20vh;
    width: 100%;
}

.layoutt {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbarr {
    width: 100%;
    // margin: 0 15%;
    padding: 0 10% ;
    height: 20vh;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    a {
        margin: 0;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }
    img {
        width:10rem;        
    }
    
    .logo-text {
        margin-top: 2vh;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.userr {
    li {
        list-style: none;
    }
}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #32324e;
    position: relative;
    color: #fff;

    
    // align-items: center;
}

.footer {
    display: flex;
    font-size: 1rem;

    justify-content: space-around;
    .footer-title {
        text-transform: uppercase;
        cursor: initial;

        margin-bottom: 1vh;
    }
    p {
        
        margin: 0;
    }
    .footer-icon {
        a {color: #fff;
        &:hover {
            color: rgb(147, 197, 147);
        }
        }
        
        
    }
}

.footer-middle {
    position: absolute;
    bottom: .5vh;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;    
    color: #fff;
    
}

@media only screen and (max-width: 600px) {
    
    .logo {
        display: flex;
        a {
            margin: 0;
            display: flex;
            flex-direction: column;            
            justify-content: center;
        }
        img {
            width:7rem;        
        }
        
        .logo-text {
            display: none;           
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;        
    }
    
    .footer-section{
        margin-bottom: 4vh;
    }

    .footer-title {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        cursor: initial;
        margin-bottom: 1vh;
    }
    
    .footer-icon {
        a {color: #fff;
        &:hover {
            color: rgb(147, 197, 147);
        }
        }
        
        
    }


  }