.container {
    margin: 0;
    width: 100%;
    min-height: 80vh;    
}

.slashed {
    width: 80%;
    margin: 0 10%;
    padding-top: 1px;
    .hed {
        margin-top: 5vh;
        font-size: 2rem;
        color: darkgreen;
        text-align: center;
    }
    .hedd {
        margin: 5vh 0;
        font-size: 1.6rem;
        color: darkgreen;   
        text-align: center;
    }
}

.containerr {
    min-height: 95vh;
    padding-top: 20vh;
    width: 100%;
}

.layoutt {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbarr {
    width: 100%;
    // margin: 0 15%;
    padding: 0 10% ;
    height: 20vh;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    img {
        width:5rem;        
    }
    .logo-text {
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.userr {
    li {
        list-style: none;
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}